<!DOCTYPE html>
<html>
<head>
	<title>Mortuary</title>
    
</head>
<body>
<div class="container-fluid">
	<center>

		<div style='width: 800px;'>
			<div id="map" style='width: 800px; height: 400px;'></div>
		</div>
	</center>
</div>
	
	<div class="modal fade mortuary-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<form>
					Enter your city, state or zip-code: 
					<input class="zip_code" type="text" name="zip">
				</form>
					<button class="js-mortuary-btn btn btn-success"  value="Submit">Submit</button>
				 
			</div>
		</div>
	</div>

</body>
</html>