<center>
	<div class="container-fliud">
		<div class="col-sm-6">
			<h1>Hello, <%=@current_user.name %></h1>
			<img class="js-purchase-image" src="">
			<div class="js-purchase-title"></div>
			<div class="js-purchase-description"></div>
			<div class="js-purchase-price"></div>
		</div>
		<div class="col-sm-6">
			<div class="js-price"></div>
			<form>
				
			</form>
		</div>
	</div>	
</center>