<nav class="navbar navbar-inverse">


 	<div class="css-header">
		<span>
			<a href="/products">
				<i class="fa fa-tree" aria-hidden="true">
					<font size="4">Home</font> 
				</i>
			</a>
			<a href="">
				<i class="fa fa-university" aria-hidden="true">
					<font size="4">Montuary</font>
				</i>
			</a>
		</span>

		<span class="pull-right">

			<% if user_signed_in? %>
				<font class="signin-header" size="4">
				<%= link_to "Logout", destroy_user_session_path, method: :delete %>
				</font>
			<% else %>
				<a href="/users/sign_in">
					<font class="signin-header" size="4">LogIn</font>
				</a>

				<a href="/users/sign_up">
					<font class="signup-header" size="4">SignUp</font>
				</a>
			<% end %>

		</span>
	</div>
</nav>